<section class="sub-page-banner relative">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInUp animated">
                <div class="page-banner text-center">
                    <h1 class="sub-banner-title">Frequently Asked Questions</h1>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>FAQ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq ptb-100 primary-color">
    <div class="container">
        <div class="row flex-bottom pb-30">
            <div class="col-sm-12 col-md-12 wow fadeInUp">
                <div class="heading-part">
                    @*<span class="sub-title">Our FAQs</span>*@
                    <h2>Frequently Asked Questions?</h2>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp">
                <div class="faq-content">
                    <div class="faq-box">
                        <div class="faq-title">What is {Product}?</div>
                        <div class="faq-panel">
                            Product is a self-hosted, AI-powered automated trading platform that lets you trade cryptocurrencies across multiple exchanges with advanced strategies, backtesting, and full control over your data.
                        </div>
                    </div>

                 
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp">
                <div class="faq-content">
                 
                </div>
            </div>
        </div>
    </div>
</section>
