@inject IStringLocalizer<GeneralResource> GeneralResource

<section class="sub-page-banner relative">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInUp animated">
                <div class="page-banner text-center">
                    <h1 class="sub-banner-title">{Product} Features</h1>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Features</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-it-work pt-100 pb-70 secondary-color relative">
    <div class="container">
        <div class="row flex-align">
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-2">
                <div class="about-detail wow fadeInLeft">
                    <div class="heading-part">
                        <h2>Self-Hosting</h2>
                    </div>
                    <p class="banner-text pb-0">
                        Deploy {Product}} in your own secure environment—whether on a private server, VPS, or local machine—and maintain complete autonomy over your trading operations.
                    </p>
                    <p class="banner-text pb-1">
                        Key Benefits:
                    </p>
                    <div class="uvp-list">
                        <ul>

                            <li><strong>100% Data Ownership</strong> Your trading strategies, logs, and analytics stay exclusively in your own database, with no third-party access.</li>
                            <li><strong>Secure API Key Management </strong> Exchange API keys never leave your infrastructure, eliminating risks of cloud-based breaches.</li>
                            <li><strong>Customizable & Isolated</strong> Avoid shared hosting limitations; optimize performance, uptime, and security your way.</li>
                            <li><strong>Regulatory Compliance </strong> Ideal for institutions or privacy-focused traders who require full auditability and data control.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-1">
                <div class="about-img wow fadeInRight">
                    <img src="/images/about-1.jpg" alt="about-1">
                </div>
            </div>
        </div>
    </div>
</section>
