@inject IStringLocalizer<GeneralResource> GeneralResource

<section class="sub-page-banner relative">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInUp animated">
                <div class="page-banner text-center">
                    <h1 class="sub-banner-title">MagicTradeBot Features</h1>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Features</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="how-it-work pt-100 pb-70 secondary-color relative">
    <div class="container">
      
                <div class="about-detail wow fadeInLeft">
                    <div class="heading-part">
                        <h2>@GeneralResource["PG_Home_What_IS_MagicBot"]</h2>
                    </div>
            <p class="banner-text  pb-0">
                        @GeneralResource["PG_Home_Section_2_Desc"]
                    </p>
                    <p class="banner-text pb-0">
                        @GeneralResource["PG_Home_Section_3_Desc"]
                    </p>
                    <p class="banner-text pb-1">
                        Key Features:
                    </p>
                    <div class="uvp-list">
                        <ul>
                            <li><strong>Automated Trading</strong> Executes trades 24/7 without manual intervention.</li>
                            <li><strong>Multi-Coin Strategy</strong> Diversifies across hundreds of assets for higher opportunities.</li>
                            <li><strong>Smart Validation</strong> Uses technical, fundamental, and sentiment analysis for precision.</li>
                            <li><strong>Risk Management</strong>  Implements stop-loss, take-profit, and volatility safeguards.</li>
                            <li><strong>Time-Efficient</strong>  Frees you from constant screen watching while capturing every chance.</li>
                            
                        </ul>
                    </div>
                    <p class="banner-text pb-1">
                         Who Is MagicTradeBot For?
                    </p>
                
                    <div class="uvp-list">
                        <ul>
                           
                            <li><strong>Privacy-focused traders</strong> who refuse to trust cloud platforms with API keys.</li>
                            <li><strong>Institutions & funds</strong> needing a white-labeled, self-hosted solution.</li>
                            <li><strong>Advanced traders</strong> who backtest, refine, and automate complex strategies.</li>
                            <li><strong>Beginners</strong> who want pre-built, battle-tested bots and demo trading to learn safely.</li>
                        </ul>
                    </div>
                </div>
           
    </div>
</section>

<section class="how-it-work pt-100 pb-70 secondary-color relative">
    <div class="container">
        <div class="row flex-align">
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-2">
                <div class="about-detail wow fadeInLeft">
                    <div class="heading-part">
                        <h2>Self-Hosting</h2>
                    </div>
                    <p class="banner-text pb-0">
                        Deploy MagicTradeBot in your own secure environment—whether on a private server, VPS, or local machine—and maintain complete autonomy over your trading operations.
                    </p>
                    <p class="banner-text pb-1">
                        Key Benefits:
                    </p>
                    <div class="uvp-list">
                        <ul>

                            <li><strong>100% Data Ownership</strong> Your trading strategies, logs, and analytics stay exclusively in your own database, with no third-party access.</li>
                            <li><strong>Secure API Key Management </strong> Exchange API keys never leave your infrastructure, eliminating risks of cloud-based breaches.</li>
                            <li><strong>Customizable & Isolated</strong> Avoid shared hosting limitations; optimize performance, uptime, and security your way.</li>
                            <li><strong>Regulatory Compliance </strong> Ideal for institutions or privacy-focused traders who require full auditability and data control.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-1">
                <div class="about-img wow fadeInRight">
                    <img src="/images/about-1.jpg" alt="about-1">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-it-work pt-100 pb-70 primary-color relative">
    <div class="container">
        <div class="row flex-align">
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-1">
                <div class="about-img wow fadeInRight">
                    <img src="/images/about-1.jpg" alt="about-1">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-2">
                <div class="about-detail wow fadeInLeft">
                    <div class="heading-part">
                        <h2>Multi-Exchange Trading</h2>
                    </div>
                    <p class="banner-text pb-0">
                        Trade faster, smarter, and more efficiently by connecting Binance, Bybit, KuCoin, OKX, and other top exchanges to a single, powerful dashboard. MagicTradeBot eliminates the hassle of juggling multiple platforms—execute, monitor, and optimize all your trades from one centralized interface.
                    </p>
                    <p class="banner-text pb-1">
                        Key Advantages:
                    </p>
                    <div class="uvp-list">
                        <ul>
                            <li><strong>Unified Portfolio Management</strong> View open positions, and performance metrics across all exchanges in real time..</li>
                            <li><strong>Simplified Execution</strong> Place spot or futures trades on any supported exchange without switching tabs or apps.</li>
                            <li><strong>Consolidated API Security</strong> Manage all exchange connections securely in one place—no more scattered API keys.</li>
                        </ul>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="how-it-work pt-100 pb-70 secondary-color relative">
    <div class="container">
        <div class="row flex-align">
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-2">
                <div class="about-detail wow fadeInLeft">
                    <div class="heading-part">
                        <h2>Unlimited Coin Coverage</h2>
                    </div>
                    <p class="banner-text pb-0">
                        MagicTradeBot lets you scan, analyze and get oppertunity from market by keeping track on hundreds of cryptocurrencies simultaneously, with no artificial restrictions on market cap, trading pairs, or emerging assets.
                    </p>
                    <p class="banner-text pb-1">
                        Why Unlimited Coverage Matters:
                    </p>
                    <div class="uvp-list">
                        <ul>
                            <li><strong>Never Miss a Trend</strong> Automatically detect and act on breakout coins, even the newest listings, before they pump.</li>
                            <li><strong>Full Market Access </strong> Trade any pair (BTC, ETH, USDT, etc.) across spot and derivatives markets without limitations.</li>
                            <li><strong>Adapt to Market Shifts </strong> Rotate capital into high-potential assets instantly as market conditions change.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-1">
                <div class="about-img wow fadeInRight">
                    <img src="/images/about-1.jpg" alt="about-1">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-it-work pt-100 pb-70 primary-color relative">
    <div class="container">
        <div class="row flex-align">
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-1">
                <div class="about-img wow fadeInRight">
                    <img src="/images/about-1.jpg" alt="about-1">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-2">
                <div class="about-detail wow fadeInLeft">
                    <div class="heading-part">
                        <h2>Unlimited Trading Templates</h2>
                    </div>
                    <p class="banner-text pb-0">
                        Build, refine, and deploy an army of specialized trading strategies—as many as you need—for every possible market scenario.
                    </p>
                    <p class="banner-text pb-1">
                        Key Advantages:
                    </p>
                    <div class="uvp-list">
                        <ul>
                            <li><strong>One-Click Strategy Switching</strong> Go from bear-market preservation to bull-market aggression instantly.</li>
                            <li><strong>Maintain separate templates </strong> to target different market conditions, crypto-currency combinations and strategies.
                            </li>
                            <li><strong>Nested Condition Logic</strong></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


<section class="how-it-work pt-100 pb-70 secondary-color relative">
    <div class="container">
        <div class="row flex-align">
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-2">
                <div class="about-detail wow fadeInLeft">
                    <div class="heading-part">
                        <h2>Scheduled Trading</h2>
                    </div>
                    <p class="banner-text pb-0">
                        Execute trades with clockwork precision—set your bot to act at exact market openings, news events, or optimal trading hours, even while you sleep.
                    </p>
                    <p class="banner-text pb-1">
                        Why Scheduled Trading Wins:
                    </p>
                    <div class="uvp-list">
                        <ul>
                            <li><strong>Time-Based Triggers</strong></li>
                            <li><strong>Date-Specific Automation</strong></li>
                           
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-1">
                <div class="about-img wow fadeInRight">
                    <img src="/images/about-1.jpg" alt="about-1">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-it-work pt-100 pb-70 primary-color relative">
    <div class="container">
        <div class="row flex-align">
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-1">
                <div class="about-img wow fadeInRight">
                    <img src="/images/about-1.jpg" alt="about-1">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-2">
                <div class="about-detail wow fadeInLeft">
                    <div class="heading-part">
                        <h2>AI-Driven Market Analysis</h2>
                    </div>
                    <p class="banner-text pb-0">
                        Our AI model with self-learning algorithms that analyze past price patterns while generating best suggestions &amp; settings to uncover hidden opportunities.
                    </p>
                    <p class="banner-text pb-1">
                        Core AI Capabilities:
                    </p>
                    <div class="uvp-list">
                        <ul>
                            <li><strong>Adaptive Machine Learning</strong> Continuously improves strategies, settings &amp; suggestion data by analyzing winning/losing trades.</li>
                            <li>
                                <strong>Predictive Modeling </strong> Forecasts short-term price spikes with 85%+ historical accur
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-it-work pt-100 pb-70 secondary-color relative">
    <div class="container">
        <div class="row flex-align">
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-2">
                <div class="about-detail wow fadeInLeft">
                    <div class="heading-part">
                        <h2>Unlimited Trade Conditions</h2>
                    </div>
                    <p class="banner-text pb-0">
                        Build surgical-grade trading logic with limitless "if-this-then-that" rules to automate exactly how, when, and why you go long or short.
                    </p>
                    <p class="banner-text pb-1">
                        Why Scheduled Trading Wins:
                    </p>
                    <div class="uvp-list">
                        <ul>
                            <li><strong>Technical Triggers</strong></li>
                            <li><strong>Nested Conditions</strong></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-1">
                <div class="about-img wow fadeInRight">
                    <img src="/images/about-1.jpg" alt="about-1">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-it-work pt-100 pb-70 primary-color relative">
    <div class="container">
        <div class="row flex-align">
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-1">
                <div class="about-img wow fadeInRight">
                    <img src="/images/about-1.jpg" alt="about-1">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-2">
                <div class="about-detail wow fadeInLeft">
                    <div class="heading-part">
                        <h2>Advanced Strategy Backtesting (Laboratory)</h2>
                    </div>
                    <p class="banner-text pb-0">
                        Turn hypothetical strategies into proven systems with institutional-grade backtesting that simulates every slippage, fee, and market shock from historical conditions.
                    </p>
                    <p class="banner-text pb-1">
                        Laboratory-Grade Testing Features:
                    </p>
                    <div class="uvp-list">
                        <ul>
                            <li><strong>Data Repositories</strong> Year plus crypto market data of all major coins.</li>
                            <li>
                                <strong>Real-World Simulation </strong>
                            </li>
                            <li>
                                <strong>Parameter Optimization</strong>
                            </li>
                            <li>
                                Condition Stress Testing
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-it-work pt-100 pb-70 secondary-color relative">
    <div class="container">
        <div class="row flex-align">
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-2">
                <div class="about-detail wow fadeInLeft">
                    <div class="heading-part">
                        <h2>Demo Trading (Sandbox Mode)</h2>
                    </div>
                    <p class="banner-text pb-0">
                        Hone your skills, test new tactics, and refine your edge—all with virtual capital in our ultra-realistic trading simulator.
                    </p>
                    <p class="banner-text pb-1">
                        Why Every Trader Needs This:
                    </p>
                    <div class="uvp-list">
                        <ul>
                            <li><strong>Zero-Risk Learning Environment</strong></li>
                            <li><strong>Real-World Simulation Features</strong></li>
                            <li><strong>Performance Analytics Dashboard</strong></li>
                            <li><strong>Seamless Transition to Live</strong></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-1">
                <div class="about-img wow fadeInRight">
                    <img src="/images/about-1.jpg" alt="about-1">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-it-work pt-100 pb-70 primary-color relative">
    <div class="container">
        <div class="row flex-align">
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-1">
                <div class="about-img wow fadeInRight">
                    <img src="/images/about-1.jpg" alt="about-1">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-2">
                <div class="about-detail wow fadeInLeft">
                    <div class="heading-part">
                        <h2>Smart Stop-Loss Management</h2>
                    </div>
                    <p class="banner-text pb-0">
                        Transform static stops into intelligent, profit-protecting systems that automatically adapt as trades develop—maximizing gains while strictly controlling risk.
                    </p>
                  
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-it-work pt-100 pb-70 secondary-color relative">
    <div class="container">
        <div class="row flex-align">
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-2">
                <div class="about-detail wow fadeInLeft">
                    <div class="heading-part">
                        <h2>Market Neutrality & Hedging</h2>
                    </div>
                    <p class="banner-text pb-0">
                        Eliminate directional risk and generate consistent returns with sophisticated strategies designed to thrive in volatile, bearish, or sideways markets.
                    </p>
                  
                   
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-1">
                <div class="about-img wow fadeInRight">
                    <img src="/images/about-1.jpg" alt="about-1">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-it-work pt-100 pb-70 primary-color relative">
    <div class="container">
        <div class="row flex-align">
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-1">
                <div class="about-img wow fadeInRight">
                    <img src="/images/about-1.jpg" alt="about-1">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 order_sm-2">
                <div class="about-detail wow fadeInLeft">
                    <div class="heading-part">
                        <h2>Prebuilt & Custom Strategies</h2>
                    </div>
                    <p class="banner-text pb-0">
                        Trade like a pro from day one—or build your own proprietary edge with our complete strategy toolkit for every market condition and risk profile.
                    </p>
                    <p class="banner-text pb-1">
                        Turnkey Strategy Library
                    </p>
                    <div class="uvp-list">
                        <ul>
                            <li><strong>Martingale Systems</strong></li>
                            <li><strong>Fibonacci Trading</strong></li>
                            <li><strong>Smart DCA (Dollar-Cost Averaging)</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
