<!--<div class="row align-items-center">
  <div class="col-md-3">
    <h5 class="mb-0 mb-md-0">{{Title}}</h5>
  </div>
  <div class="col-md-9">
    <div class="float-md-end">
      <div class="row">
        
        <label for="inputFromDate" class="col-md-4 col-form-label text-md-end"
          >Filter</label
        >
        <div class="col-md-8">
          <select class="form-select" [(ngModel)]="FilterOption" (ngModelChange)="change($event)">
            <option
              *ngFor="let opt of Filters; trackBy: getKey"
              [value]="opt.value"
            >
              {{ opt.title }} 
            </option>
          </select>
        </div>
        
      </div>
    </div>
  </div>
</div>
-->